/* 
    Author Name:Nikhil Nirmal,
    color pallet used:
    background:#0a192f;
    font 1 : #55dabe;
    font 2 : #98aeff;
    font 3 : #dcefff;   
*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Orbitron:wght@400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    align-items: center;
    font-size: 16px;
    
}
body{
    background-color: #0a192f;
    font-family: 'Titillium Web';
}
.header{
    color:#4ec6b6;
    cursor: pointer;
    font-family: 'Orbitron';
}

header nav ul{
    display: inline-block;
}
li {
    list-style-type:none ;
}
nav{
	text-align: right;
}
header nav ul li a{
    font-family: 'Orbitron', sans-serif;
	font-size: 1.3rem;
	list-style-type: none;
	display: inline-block;
	margin-right:10rem;
    margin-top: 3rem;
    text-decoration: none;
    color:#55dabe;
    
}


.logo {
    position: absolute;
    top: 3rem;
    left: 10rem;
    text-decoration: none;
}

.logoText {
    font-family: 'Orbitron';
    font-weight: 90;
    color: #55dabe;
    font-size: 1.3rem;
}

.heroSection {
    align-items: center;
    max-width: 60%;
    margin:5rem auto auto  auto;
}

.title {
    margin: 2rem 0px 0px 0px;
    font-family:'Orbitron';
    color:#98aeff;
    font-size:1.5rem;
}

.description {
    margin: 2rem 0px 2rem 0px;
    color: #dcefff;
    font-size: 1.3rem;
}

strong {
    color: #ee97a2;
    background-color: #002451;
}
.line {
    height: 1px;
    border:#4ec6b6 1px solid;
}
.install {
    margin-bottom: 2rem;
}

footer ul li a{
    font-family: 'Orbitron', sans-serif;
	font-size: 1.3rem;
	list-style-type: none;
	display: inline-block;
	margin-right:2rem;
    margin-top: 1rem;
    text-decoration: none;
    color:#55dabe;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 2rem 1rem 2rem;
}

.html {
    line-break: auto;
}


@media only screen and (max-width: 800px) {
    * {
      font-size: 8px;
    }

    .heroSection{
        width: 100%;
        margin:4rem auto auto  auto;
    }

    .title {
        font-size: 2rem;
    }

    .description{
        margin:2rem auto 2rem  auto;
    }
    .logo{
        left: 5rem;
    }
    .docs{
        margin-right: 5rem;
    }
  }
