<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Image.css">
    <link rel="stylesheet" href="../../Css/open.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/tomorrow-night-blue.min.css">
    <title>Image</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../../index.html">Zest UI</a>   
                </li>
                <li>
                    <img class="mobileView" onclick="openNav()" src="../../Images/drawer2.png" alt="drawer">  
                </li>
            </ul>
        </nav>
    </header>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul class="list-mobile">
            <li>
                <a href="#">
                    Alert
                </a>
            </li>
            <li>
                <a href="/components/Avatar/avatar.html">
                    Avatar
                </a>
            </li>
            <li>
                <a href="/components/Badge/badge.html">
                    Badge
                </a>
            </li>
            <li>
                <a href="/components/Button/button.html">
                    Button
                </a>
            </li>
            <li>
                <a href="/components/Card/card.html">
                    Card
                </a>
            </li>
            <li>
                <a href="/components/Image/Image.html">
                    Image
                </a>
            </li>
            <li>
                <a href="/components/Input/Input.html">
                    Input
                </a>
            </li>
            <li>
                <a href="/components/Lists/Lists.html">
                    List
                </a>
            </li>
            <li>
                <a href="/components/Toast/toast.html">
                    Toast
                </a>
            </li>
            <li>
                <a href="/components/Extras/Extras.html">
                    Extras
                </a>
            </li>
        </ul>
      </div>
    <div class="centerContent">
        <sidebar class="sideBar">
            <div>
                <div>
                    <a class="display" href="/components/Alert/Alert.html">Components</a>
                </div>
                <ul class="list">
                    <li>
                        <a href="/components/Alert/Alert.html">
                            Alert
                        </a>
                    </li>
                    <li>
                        <a  href="/components/Avatar/avatar.html">
                            Avatar
                        </a>
                    </li>
                    <li>
                        <a href="/components/Badge/badge.html">
                            Badge
                        </a>
                    </li>
                    <li>
                        <a href="/components/Button/button.html">
                            Button
                        </a>
                    </li>
                    <li>
                        <a href="/components/Card/card.html">
                            Card
                        </a>
                    </li>
                    <li>
                        <a id="active" href="/components/Image/Image.html">
                            Image
                        </a>
                    </li>
                    <li>
                        <a href="/components/Input/Input.html">
                            Input
                        </a>
                    </li>
                    <li>
                        <a href="/components/Lists/Lists.html">
                            List
                        </a>
                    </li>
                    <li>
                        <a href="/components/Toast/toast.html">
                            Toast
                        </a>
                    </li>
                    <li>
                        <a href="/components/Extras/Extras.html">
                            Extras
                        </a>
                    </li>
                </ul>
            </div>
        </sidebar>

        
        <main class="heroSection">
            <h1 class="title"> <highlight class="num">6.&emsp;</highlight> Image :</h1>
            <div class="line"></div>
            <h3 class="description">Responsive images are used in a website to maintain the design and structure of a website</h3>
            <h3 class="description"> Square images are generally used in a website.</h3>
            <h3 class="description">Some examples are shown below:</h3>
            
            <div class="com-display">
                <img id="btn-link" class="image" src="../../Images/ichigo.jpg" alt="">
            </div>
            <pre>
                <code class="html">
    &lt;img class="image" src="../../Images/ichigo.jpg" alt=""&gt;
                </code>
            </pre>

            <div class="line"></div>
            <h3 class="description">Avatar's size can be costumised upto one's preferences.</h3>
            <h3 class="description">Some examples are shown below :</h3>

            <div class="com-display">
                <img class="image-round" src="../../Images/chill.jpg" alt="">
                <img class="image-round" src="../../Images/levi.jpg" alt="">
            </div>

            <pre>
                <code class="html">
    &lt;img class="image-round" src="../../Images/levi.jpg" alt=""&gt;
                </code>
            </pre>
        </main>
    </div>

    <footer>
        <ul >
            <li><a href="../Card/Card.html">&lt; &emsp; Card&emsp;</a></li>
            <li><a href="../Input/Input.html">Input&emsp;&gt;</a></li>
        </ul>
    </footer>

    <script>
        function dismissErrorAlert() {
            document.getElementsByClassName("errorAlert")[0].classList.add("dismiss")
        }
    </script>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>