<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Extras.css">
    <link rel="stylesheet" href="../../Css/open.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/tomorrow-night-blue.min.css">
    <title>Rating</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../../../index.html">Zest UI</a>   
                </li>
                <li>
                    <img class="mobileView" onclick="openNav()" src="../../../Images/drawer2.png" alt="drawer">  
                </li>
            </ul>
        </nav>
    </header>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div>
            <a class="display" href="/components/Alert/Alert.html">Extras</a>
        </div>
        <ul class="list-mobile">
            <li>
                <a href="../Extras/Extras.html">
                    Rating
                </a>
            </li>
            <li>
                <a href="../Extras/Extra-Components/Modal.html">
                    Modal
                </a>
            </li>
            <li>
                <a href="../Extras/Extra-Components/Navigation.html">
                    Navigation  
                </a>
            </li>
            <li>
                <a href="../Extras/Extra-Components/Slider.html">
                    Slider
                </a>
            </li>
        </ul>
      </div>
    <div class="centerContent">
        <sidebar class="sideBar">
            <div>
                <div>
                    <a class="display" href="/components/Alert/Alert.html">Extras</a>
                </div>
                <ul class="list">
                    <li>
                        <a  id="active" href="../Extras/Extras.html">
                            Rating
                        </a>
                    </li>
                    <li>
                        <a href="/components/Extras/Extra-Components/Modal.html">
                            Modal
                        </a>
                    </li>
                    <li>
                        <a href="../Extras/Extra-Components/Navigation.html">
                            Navigation
                        </a>
                    </li>
                    <li>
                        <a href="../Extras/Extra-Components/Slider.html">
                            Slider
                        </a>
                    </li>
                </ul>   
            </div>
        </sidebar>

        
        <main class="heroSection">
            <h1 class="title"> <highlight class="num">1.&emsp;</highlight> Rating :</h1>
            <div class="line"></div>
            <h3 class="description">Rating are ususally used in e-commerce apps & websites to rate any product from 1-5.</h3>
            <h3 class="description">Some examples are shown below:</h3>
            
            <div class="com-display">
                <div id="btn-link"> 
                    <div class="rating3">
                        <img class="stars" src="../../Images/fillled.png" alt="">
                        <img class="stars" src="../../Images/fillled.png" alt="">
                        <img class="stars" src="../../Images/fillled.png" alt="">
                        <img class="stars" src="../../Images/outline.png" alt="">
                        <img class="stars" src="../../Images/outline.png" alt="">
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <h3 class="description">1 star rating :</h3>
                <div class="com-display" >
                    <div class="rating1" id="btn-link">
                        <img class="stars" src="../../Images/fillled.png" alt="">
                        <img class="stars" src="../../Images/outline.png" alt="">
                        <img class="stars" src="../../Images/outline.png" alt="">
                        <img class="stars" src="../../Images/outline.png" alt="">
                        <img class="stars" src="../../Images/outline.png" alt="">
                    </div>
                </div>

        <pre>
            <code class="html">
    &lt;div class="rating1"&gt;
        &lt;img class="stars" src="../../Images/fillled.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/outline.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/outline.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/outline.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/outline.png" alt=""&gt;
    &lt;/div&gt;
            </code>
        </pre>

        <div class="line"></div>
        <h3 class="description">2 star rating : </h3>
        <div class="com-display">
            <div class="rating2" id="btn-link">
                <img class="stars" src="../../Images/fillled.png" alt="">
                <img class="stars" src="../../Images/fillled.png" alt="">
                <img class="stars" src="../../Images/outline.png" alt="">
                <img class="stars" src="../../Images/outline.png" alt="">
                <img class="stars" src="../../Images/outline.png" alt="">
            </div>
        </div>
    <pre>
        <code class="html">
    &lt;div class="rating2"&gt;
        &lt;img class="stars" src="../../Images/fillled.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/fillled.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/outline.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/outline.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/outline.png" alt=""&gt;
    &lt;/div&gt;
        </code>
    </pre>

            <div class="line"></div>
            <h3 class="description">4 star rating : </h3>
            <div class="com-display">
                <div class="rating4" id="btn-link">
                    <img class="stars" src="../../Images/fillled.png" alt="">
                    <img class="stars" src="../../Images/fillled.png" alt="">
                    <img class="stars" src="../../Images/fillled.png" alt="">
                    <img class="stars" src="../../Images/fillled.png" alt="">
                    <img class="stars" src="../../Images/outline.png" alt="">
                </div>
            </div>
        <pre>
            <code class="html">
    &lt;div class="rating4"&gt;
        &lt;img class="stars" src="../../Images/fillled.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/fillled.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/fillled.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/fillled.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/outline.png" alt=""&gt;
    &lt;/div&gt;
            </code>
        </pre>

        <div class="line"></div>
        <h3 class="description">5 star rating : </h3>
        <div class="com-display">
            <div class="rating5" id="btn-link">
                <img class="stars" src="../../Images/fillled.png" alt="">
                <img class="stars" src="../../Images/fillled.png" alt="">
                <img class="stars" src="../../Images/fillled.png" alt="">
                <img class="stars" src="../../Images/fillled.png" alt="">
                <img class="stars" src="../../Images/fillled.png" alt="">
            </div>
        </div>
        <pre>
        <code class="html">
    &lt;div class="rating5"&gt;
        &lt;img class="stars" src="../../Images/fillled.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/fillled.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/fillled.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/fillled.png" alt=""&gt;
        &lt;img class="stars" src="../../Images/fillled.png" alt=""&gt;
    &lt;/div&gt;
        </code>
        </pre>
        </main>
    </div>

    <footer>
        <ul >
            <li><a href="../Toast/Toast.html">&lt;&emsp;Toast</a></li>
            <li><a href="../Extras/Extra-Components/Modal.html">Modal&emsp;&gt;</a></li>
        </ul>
    </footer>

    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>