/* 
    Author Name:Nikhil Nirmal,
    color pallet used:
    background:#0a192f;
    font 1 : #55dabe;
    font 2 : #ccd6f6;
    font 3 : #6e7996;   
*/

.badge{
    position: relative;
    width: max-content;
}

.badge > div{
    bottom: 8px;
    right: 6px;
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}

.on {
    background-color: greenyellow;
}

.off {
    background-color: #757575;
}

.dnd {
    background-color: red;
}
.badge .num {
    display: flex;
    align-items: center;
    justify-content: center;
    top : -.2rem;
    right: -.1rem;
    position: absolute;
    font-size: .8rem;
    color: #ffffff;
    background-color: #5cc3ff;
    font-weight: 900;
    height: 1.25rem;
    width: 1.25rem;
    border: none;
}